<% content_for :head do %>
  <%= stylesheet_link_tag 'image_crops', media: 'all', 'data-turbolinks-track' => true %>
<% end -%>
<h1>New Crop</h1>

  <div class="work-area">

    <!-- <div class="module ban-t">
      <a href="#">
        <img src="/img/adsense/adsense_185665_adformat-text_728x90_en.png" alt="">
      </a>
    </div> -->

    <div class="module">
      <div class="panel">
        <ul class="tabs">
          <li class="active">
            <a href="#1"><b>1</b></a><span class="ext-title">Original size --- x ---</span>
          </li>
          <li class="close-panel">
            <a href="#"><span class="arrow-up">&#9650;</span><span class="arrow-down">&#9660;</span></a>
          </li>
        </ul>
        <div class="content p0">
          <div class="cnt">
            <div class="crop-container">
              <%= image_tag @image.file.url, id: 'src' %>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>


  <div class="right-column">

    <!-- <div class="module add-this">
      <div class="addthis_toolbox addthis_default_style ">
        <a class="addthis_button_preferred_1"></a>
        <a class="addthis_button_preferred_2"></a>
        <a class="addthis_button_preferred_3"></a>
        <a class="addthis_button_preferred_4"></a>
        <a class="addthis_button_compact"></a>
        <a class="addthis_counter addthis_bubble_style"></a>
      </div>
      <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-529249843fff5cc2"></script>
    </div> -->

    <div class="module">
      <div class="panel">
        <ul class="tabs">
          <li class="active">
            <a href="#1">Resulting images</a>
          </li>
          <li>
            <a href="#2">Help</a>
          </li>
          <li>
            <a href="#3">Log</a>
          </li>
          <li class="close-panel">
            <a href="#"><span class="arrow-up">&#9650;</span><span class="arrow-down">&#9660;</span></a>
          </li>
        </ul>
        <div class="content">
          <div class="cnt p0">
            <div class="cnt">
              <input type="button" value="Save all as ZIP" title="Save all as ZIP" class="btn">
              <input id="delete-all-crops" type="button" value="Delete all" title="Delete all crops" class="btn">
            </div>
            <hr>
            <p class="intro">Resulting images will be displayed here...</p>
            <div class="resulting-crops"></div>
          </div>
          <div class="cnt">
            Help videos
          </div>
          <div class="cnt">
            <textarea name="log" id="log"></textarea>
          </div>
        </div>
      </div>
    </div>


  </div>
